{:first-step "step", :name "test-job", :revision 4, :type nil, :properties {:create-folder? true}, :steps [{:id "step", :type :custom, :supertype :tasklet, :next {"*" "agregator"}, :workload-fn #titanoboa.exp.Expression{:value "titanoboa.processor/preprocess"}, :properties {}, :name "step"} {:id "agregator", :name "agregator", :type :map, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value "titanoboa.processor/process-map-step"}, :next {}, :properties {:map-fn #titanoboa.exp.Expression{:value "(fn [p] [{:name \"Miro\"} {:name \"janka\"} {:name \"Kris\"}])"}, :jobdef-name "pokus", :sys-key :core, :run-standalone? true, :workers-count 1}}]}