{:name "shakespeare", :revision 1, :type nil, :properties {}, :first-step "step", :steps [{:id "step", :type :map, :supertype :map, :next {}, :workload-fn #titanoboa.exp.Expression{:value "(fn [job]\n  (map \n    #({:properties {:txt-file %}})\n    (file-seq (java.io.File. \"/home/miro/Dropbox/titanoboa/resources/test/shakes\"))))"}, :properties {:jobdef-name "def id of job to execute", :sys-key :core, :standalone-system? false}, :revision 1}]}