{:name "shakespeare", :revision 2, :type nil, :properties {}, :first-step "step", :steps [{:id "step", :type :map, :supertype :map, :next {}, :workload-fn #titanoboa.exp.Expression{:value "(fn [job]\n  (map \n    #({:properties {:txt-file %}})\n    (-> \"/home/miro/Dropbox/titanoboa/resources/test/shakes\" \n        java.io.File. \n        file-seq \n        rest)))"}, :properties {:jobdef-name "test-job", :sys-key :core, :standalone-system? false}, :revision 1}]}