{:first-step "step", :properties {}, :revision 3, :name "parallel", :steps [{:properties {}, :allow-parallel? true, :type :custom, :next [["*" "step-2b"] ["*" "step-2a"]], :id "step", :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value " (fn [j] \n    {:properties {:step \"step 1\"}})"}} {:properties {}, :type :custom, :next [["*" "step3"]], :id "step-2a", :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value "  (fn [j] \n    {:properties {:step2a \"step 2a\"}})"}} {:properties {}, :type :custom, :next [["*" "step3"]], :id "step-2b", :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value "  (fn [j] \n    {:properties {:step2b \"step 2b\"}})"}} {:properties {}, :type :custom, :next [], :id "step3", :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value "   (fn [j] \n    {:properties {:step3 \"step 3\"}})"}}], :type nil}