{:first-step "step", :name "pokus", :revision 4, :type nil, :properties {:name "Miroslavek"}, :steps [{:id "step", :name "step", :type :custom, :supertype :tasklet, :next {"*" "ttt"}, :workload-fn #titanoboa.exp.Expression{:value " (fn [j] (println (:name (:properties j))))"}, :properties {}}]}