{:name "word-count", :revision 1, :type nil, :properties {}, :first-step "word-count", :steps [{:id "word-count", :type :custom, :supertype :tasklet, :next {}, :workload-fn #titanoboa.exp.Expression{:value " (fn [{:keys [properties] :as job}]\n   {:properties {:word-counts  (-> properties\n\t\t\t\t\t\t\t\t      \t\t\t\t:txt-file\n       \t\t\t\t\t\t\t\t\t\t\t\tslurp\n       \t\t\t\t\t\t\t\t\t\t\t\t(.split \"[^a-zA-Z']+\")\n       \t\t\t\t\t\t\t\t\t\t\t\tfrequencies)}})"}, :properties {}}]}