{:name "demo", :revision 1, :type nil, :properties {}, :first-step "step", :steps [{:id "step", :type :custom, :supertype :tasklet, :next {3 "step3", 2 "step2"}, :workload-fn #titanoboa.exp.Expression{:value " (fn [j] \n   (+ 1 1))"}, :properties {}} {:id "step2", :type :custom, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value " (fn [j]\n      (+ 2 2))"}, :next {4 "step4", 5 "step5"}, :properties {}} {:id "step3", :type :custom, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value " "}, :next {}, :properties {}} {:id "step4", :type :custom, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value " (fn [j] \n   \"Hello World!\")"}, :next {}, :properties {}} {:id "step5", :type :custom, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value " "}, :next {}, :properties {}}]}