{:name "demo3", :revision 1, :type nil, :properties {}, :first-step "step", :steps [{:id "step", :type :http-client, :supertype :tasklet, :next {}, :workload-fn #titanoboa.exp.Expression{:value "titanoboa.tasklet.httpclient/request"}, :properties {:request-method :get, :as :json, :response-property-name :rest-response, :body-only? true, :url #titanoboa.exp.Expression{:value "(mapv #(str \"https://jsonplaceholder.typicode.com/posts/\"  %) (range 1 10))"}}, :revision 1}]}