{:name "retries-test", :revision 2, :type nil, :properties {}, :first-step "step", :steps [{:properties {}, :retry-on-error? true, :type :custom, :next [], :id "step", :max-retries 10, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value " (fn [{:keys [properties step-retries] :as job}]\n   (print (str \"Retrying for \" (or (get step-retries \"step\") 0) \" times\"))\n   (if (< (or (get step-retries \"step\") 0) 8)\n     (do (Thread/sleep 1000)\n       (throw (IllegalStateException. \"I am not happy yet\")))\n     (do \n       (print \"Now I am happy\")\n       :ok)))"}}]}