{:first-step "http-client", :name "http-test", :revision 6, :type nil, :properties {:lol ""}, :steps [{:id "http-client", :type :http-client, :supertype :tasklet, :next {}, :workload-fn #titanoboa.exp.Expression{:value " (fn [j] \n  {:properties  \n   {(get-in j [:properties :response-property-name]) \n    (clj-http.client/request (:properties j))}})"}, :properties {:request-method :get, :url "https://jsonplaceholder.typicode.com/posts/1", :as :json, :response-property-name :rest-response, :body-only? false}, :revision 1}]}