{:first-step "step", :name "http-test", :revision 4, :type nil, :properties {:lol ""}, :steps [{:id "step", :type :custom, :supertype :tasklet, :next {}, :workload-fn #titanoboa.exp.Expression{:value " (fn [j] \n  {:properties  \n   {(get-in j [:properties :response-property-name]) \n    (clj-http.client/request (:properties j))}})"}, :properties {:request-method :get, :url "https://jsonplaceholder.typicode.com/posts/1", :as :json, :response-property-name :rest-response}}]}