{:first-step "http-client", :name "http-test", :revision 11, :type nil, :properties {},
 :steps [{:id "http-client", :type :http-client, :supertype :tasklet, :next {"*" "load-data"},
          :workload-fn #titanoboa.exp.Expression{:value "titanoboa.tasklet.httpclient/request"},
          :properties {:request-method :get, :as :json, :response-property-name :rest-response, :body-only? true,
                       :connection-pool {:timeout 5, :threads 4, :insecure? false, :default-per-route 10},
                       :url #titanoboa.exp.Expression{:value "(mapv #(str \"https://jsonplaceholder.typicode.com/posts/\" %) (range 1 10))"}}, :revision 1}
         {:id "load-data", :type :jdbc, :supertype :tasklet,
          :workload-fn #titanoboa.exp.Expression{:value "titanoboa.tasklet.jdbc/query"}, :next {"*" "email"},
          :properties {:response-property-name :db-data, :data-source-ks [:db :system :pool], :query {:select [:o.ordernumber :o.TotalAmount :c.FirstName :c.LastName :c.City :c.Country],
                                                                                                      :from [[:customers :c]],
                                                                                                      :left-join [[:orders :o] [:= :c.id :o.customerid]],
                                                                                                      :order-by [[:o.totalamount :desc :nulls-last]],
                                                                                                      :limit 10}}, :revision 1}
         {:id "email", :type :smtp, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value "titanoboa.tasklet.smtp/send"}, :next {},
          :dependencies [["com.draines/postal" "2.0.2"]],
          :properties {:connection {:host "localhost", :port 2525}, :email {:from "miro@somedomain.net", :body "Tralalalala", :subject "hi there!", :to "joe@example.com"}}, :revision 1}]}