{:first-step "http-client", :name "http-test", :revision 9, :type nil, :properties {}, :steps [{:id "http-client", :type :http-client, :supertype :tasklet, :next {"*" "load-data"}, :workload-fn #titanoboa.exp.Expression{:value "titanoboa.tasklet.httpclient/request"}, :properties {:request-method :get, :as :json, :response-property-name :rest-response, :body-only? true, :connection-pool {:timeout 5, :threads 4, :insecure? false, :default-per-route 10}, :url #titanoboa.exp.Expression{:value "(mapv #(str \"https://jsonplaceholder.typicode.com/posts/\" %) (range 1 10))"}}, :revision 1} {:id "load-data", :type :jdbc, :supertype :tasklet, :workload-fn #titanoboa.exp.Expression{:value "titanoboa.tasklet.jdbc/query"}, :next {}, :properties {:response-property-name :db-data, :data-source-ks [:db :system :pool], :query {:select [:id :name :address], :from [:customers], :where [:= :id 1]}}, :revision 1}]}